.main{
  text-align: center;
  color: rgba(0,0,240,0.5);
}

.taskarea{
  padding-top: 5px;
  padding-bottom: 5px;
}

.list{
  list-style-type: none;
  border:2px solid rgb(233, 133, 133);
  margin-bottom: 8px;
}

.todoedit{
  display: inline-block;
}