.main{
  text-align: center;
  color: rgba(0,0,240,0.5);
  margin-bottom: 30px;
}

.taskarea{
  padding-top: 5px;
  padding-bottom: 5px;
}

.add{
  padding-top: 5px;
  padding-bottom: 5px;
}

.list{
  list-style-type: square;  
  border:2px solid rgb(122, 77, 98);
  font-size: medium;
  margin-bottom: 8px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.todoedit{
  display: inline-block;
}